# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Environnement virtuel
venv/
env/
.venv/
.env/

# Secrets — NE JAMAIS COMMITER
.env

# Django
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs (conservés localement, non versionnés)
logs/*.log
