{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-dark text-white text-center">
                <h4>🔐 Connexion</h4>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Téléphone</label>
                        {{ form.phone }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mot de passe</label>
                        {{ form.password }}
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-dark">Se connecter</button>
                    </div>
                </form>
                <hr>
                <p class="text-center"><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>
<p class="text-center">Pas de compte ? <a href="{% url 'register' %}">S'inscrire</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}